xterm*termName: xterm-256color
xterm*bellIsUrgent: true
xterm*borderWidth: 0
xterm*utf8Title: true
xterm*renderFont: true
xterm*faceName: Monospase
xterm*faceSize: 9
xterm*foreground: lightgray
xterm*cursorColor: green
xterm*background: black
xterm*saveLines: 1000

xterm*rightScrollBar: True
xterm*scrollBar: True
xterm*geometry: 105x35
